{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'home/images/virtualbank.png' %}" type="image/x-icon" />

    <meta charset="UTF-8" />
    <meta http-equiv="content-language" content="en-US" />
    <meta name="author" content="Adeniji Olajide" />
    <meta name="publisher" content="Adeniji Olajide" />
    <meta name="copyright" content="Adeniji Olajide" />
    <meta name="keywords" content="transaction, banking simulation, financial transaction, developer test, test developers, virtual transaction, bank simulator online, simulator bank, planning and presentation, planning development, planning in presentation skills, planning presentation skills, web development bootcamp,
    computer programming,
    programmer, plan your presentation" />
    <meta name="description" content="Welcome to the Virtual Bank project! This innovative web application and API were meticulously crafted to serve as a versatile platform for developers seeking to simulate banking transactions. Whether you’re testing e-commerce websites, exploring payment integrations, or developing financial applications, Virtual Bank offers a robust environment for experimentation without the need for real bank APIs." />
    <meta name="page-type" content="banking simulation," />
    <meta name="audience" content="Everyone" />
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
    <meta property="og:description" content="Welcome to the Virtual Bank project! This innovative web application and API were meticulously crafted to serve as a versatile platform for developers seeking to simulate banking transactions. Whether you’re testing e-commerce websites, exploring payment integrations, or developing financial applications, Virtual Bank offers a robust environment for experimentation without the need for real bank APIs." />

    <meta property="og:image" content="{% static 'home/images/banner.jpg' %}" />
    <meta property="og:type" content="E-learning" />
    <meta property="og:site_name" content="LoopSync" />
    <meta property="og:locale" content="en-US" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{% static 'home/images/banner.jpg' %}" />
    <meta name="twitter:description" content="Welcome to the Virtual Bank project! This innovative web application and API were meticulously crafted to serve as a versatile platform for developers seeking to simulate banking transactions. Whether you’re testing e-commerce websites, exploring payment integrations, or developing financial applications, Virtual Bank offers a robust environment for experimentation without the need for real bank APIs." />
    <meta itemprop="description" content="Welcome to the Virtual Bank project! This innovative web application and API were meticulously crafted to serve as a versatile platform for developers seeking to simulate banking transactions. Whether you’re testing e-commerce websites, exploring payment integrations, or developing financial applications, Virtual Bank offers a robust environment for experimentation without the need for real bank APIs." />
    <meta name="twitter:site" content="@Goldenthrust3" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:url" content="{{ request.resolver_match.url_name }}" />
    <meta itemprop="url" content="{{ request.resolver_match.url_name }}" />
    <meta name="twitter:domain" content="virtualbank.tech" />
    <meta name="twitter:url" content="{{ request.resolver_match.url_name }}" />
    
    {% if title %}
      <meta name="twitter:title" content="Virtual Bank - {{ title }}" />
      <meta itemprop="title" content="Virtual Bank - {{ title }}" />
      <meta property="og:title" content="Virtual Bank - {{ title }}" />
      <title>Virtual Bank - {{ title }}</title>
    {% else %}
      <title>Virtual Bank</title>
    {% endif %}

    <!-- load font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Flow+Circular&display=swap" rel="stylesheet" />

    <!-- load bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" /> -->
     <link rel="stylesheet" href="{% static 'utils/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
     
    <!-- Expose API URL as a global variable -->
    <script>
      // Make API URL available to all JavaScript files
      window.API_BASE_URL = "{{ API_URL }}";
      window.WEBSOCKET_URL = window.API_BASE_URL.replace(/^http/, 'ws');
    </script>

    <!-- load css -->
    <link rel="stylesheet" href="{% static 'home/styles/headers.css' %}" />
    <link rel="stylesheet" href="{% static 'home/styles/background.css' %}" />
    <link rel="stylesheet" href="{% static 'home/styles/body.css' %}" />
    <link rel="stylesheet" href="{% static 'home/styles/footer.css' %}" />
  </head>

  <body class="bs5-bg card">
    <aside class="background position-absolute top-0 z-n1 w-100 h-100">
      <div class="{% if request.resolver_match.url_name == 'homepage' %}
      bg-top
        {% endif %}
         text-primary"></div>
      <div class="bg-bottom position-absolute bottom-0"></div>
    </aside>
    <header class="container-fluid text-white mt-1">
      <div class="row align-items-center d-none d-md-flex">
        <div class="col-12 col-sm-auto text-center">
          <a href="{% url 'home:homepage' %}" style="text-decoration: none;"><h1 class="logo d-flex w-100"><img src="{% static 'home/images/virtualbanklogo.png' %}" alt="logo" class="w-100" /></h1></a>
        </div>
        <div class="col-12 col-md d-flex justify-content-center justify-content-md-end">          <nav>
            <a href="{% url 'home:about' %}" class="text-decoration-none text-white mx-2 link-secondary">About Us</a>
            <a href="#" class="text-decoration-none text-white mx-2 link-secondary">Contact Us</a>
            <a href="{{ API_URL }}/redoc/" class="text-decoration-none text-white mx-2 link-secondary">Documentation</a>
            <!-- <a href="#" class="text-decoration-none text-white mx-2 link-secondary">Guides</a> -->
          </nav>
        </div>
        <div class="col-12 col-sm-auto text-center text-md-end">
          <div class="register">
            {% if user.is_authenticated %}
              <a href="{% url 'users:dashboard' %}" class="text-decoration-none text-white mx-2 btn btn-primary rounded-pill">Dashboard</a>
            {% else %}
              <a href="{% url 'users:login' %}" class="text-decoration-none text-white mx-2 link-primary signin">Sign In</a>
              <a href="{% url 'users:register' %}" class="text-decoration-none text-white mx-2 btn btn-primary rounded-pill signup">Sign Up</a>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="row align-items-center .d-inline-flex d-md-none">
        <div class="col">
          <h1 class="logo d-flex"><img src="{% static 'home/images/virtualbanklogo.png' %}" alt="logo" class="w-100" /></h1>
        </div>
        <a data-bs-toggle="offcanvas" class="col-2 menu" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu"><!-- <img src="" alt="menu"> --></a>

        <div class="offcanvas bg-dark offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="filter: invert(1)"></button>
          </div>
          <div class="offcanvas-body">
            <div class="col-12 col-md d-flex mb-4">
              <nav>
                <a href="#" class="text-decoration-none text-white row mx-2 mb-3 link-secondary">About Us</a>
                <a href="#" class="text-decoration-none text-white row mx-2 mb-3 link-secondary">Contact Us</a>
                <a href="http://127.0.0.1:8030/swagger/" class="text-decoration-none text-white row mx-2 mb-3 link-secondary">Developers</a>
                <a href="http://127.0.0.1:8030/redoc/" class="text-decoration-none text-white row mx-2 mb-3 link-secondary">Documentation</a>
              </nav>
            </div>
            <div class="col-12 col-md-auto">
              <div class="register">
                {% if user.is_authenticated %}
                  <a href="{% url 'users:dashboard' %}" class="text-decoration-none text-white mx-2 btn btn-primary rounded-pill">Dashboard</a>
                {% else %}
                  <a href="{% url 'users:login' %}" class="text-decoration-none text-white mx-2 link-primary signin">Sign In</a>
                  <a href="{% url 'users:register' %}" class="text-decoration-none text-white mx-2 btn btn-primary rounded-pill signup">Sign Up</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
      <div class="d-flex justify-content-evenly align-items-evnly text-white py-3 mx-5">
        <div class="row">
          <div class="col">
            <div class="mb-5">
              <h4 class="h3 mb-3 fw-semi-bold">Disclaimer</h4>
              <p class="fs-5">This is a simulated banking environment intended for testing and development purposes only. All transactions and data are fictional and do not involve real-world financial operations.</p>
            </div>
            <div class="mb-5">
              <h4 class="h3 mb-2">contact</h4>
              <a href="mailto:adenijiolajid01@gmail.com" class="fs-5 mb-5 text-decoration-none">adenijiolajid01@gmail.com</a>
              <div class="">
                <a href="https://github.com/GoldenThrust" target="_blank" rel="noopener noreferrer"><img src="{% static 'home/images/socials/github.svg' %}" alt="Github" /></a>
                <a href="https://x.com/Goldenthrust3" target="_blank" rel="noopener noreferrer"><img src="{% static 'home/images/socials/x.svg' %}" alt="Twitter" /></a>
                <a href="https://www.linkedin.com/in/olajide-adeniji/" target="_blank" rel="noopener noreferrer"><img src="{% static 'home/images/socials/linkedin.svg' %}" alt="LinkedIn" /></a>
                <a href="https://www.instagram.com/imagination_purely/" target="_blank" rel="noopener noreferrer"><img src="{% static 'home/images/socials/instagram.svg' %}" alt="" /></a>
                <a href="https://www.youtube.com/channel/UCTNcZa-UmGQJWPpz-keC2xQ" target="_blank" rel="noopener noreferrer"><img src="{% static 'home/images/socials/youtube.svg' %}" alt="Youtube" /></a>
                <a href="https://medium.com/@adenijiolajid01" target="_blank" rel="noopener noreferrer"><img src="{% static 'home/images/socials/meduim.svg' %}" alt="Meduim" /></a>
              </div>
              <span class="text-secondary fw-lighter fs-6">Safe, Simulated, Seamless Transactions</span>
            </div>
            <div class="h1">Virtual Bank</div>
          </div>
          <div class="col">
            <h4 class="mb-3">Quick Links</h4>
            <nav class="col row grid gap-4 fs-5">
              <a href="#" class="text-decoration-none">About Us</a>
              <a href="#" class="text-decoration-none">Contact Us</a>
              <a href="#" class="text-decoration-none">Features</a>
              <a href="http://127.0.0.1:8030/swagger/" class="text-decoration-none">API Documentation</a>
              <a href="#" class="text-decoration-none">Developer Portal</a>
            </nav>
          </div>
          <div class="col">
            <img src="{% static 'home/images/olajide.jfif' %}" alt="" class="rounded-circle mb-5 my_pics" /><span class="row h6 float-end">Lagos Nigeria <br /> @2023 All rights reserved</span>
          </div>
        </div>
      </div>
    </footer>

    <script src="{% static 'utils/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script> -->
  </body>
</html>
