{% extends "home/base.html" %}
{% load static %}
{% block content %}
<main class="container-fluid px-5 mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">Welcome to the <br> <span class="text-primary">Django App</span></h1>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            <div class="text-center">
                <a href="{% url 'users:register' %}" class="btn btn-primary">Register</a>
                <a href="{% url 'users:login' %}" class="btn btn-outline-primary">Login</a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{% static 'home/images/testing.png' %}" alt="" class="img-fluid">
        </div>
    </div>
</main>
{% endblock content %}