{% extends "home/base.html" %}
{% load static %}
{% block content %}
<main class="container-fluid px-5">
    <div class="tagline w-50 text-white">
        Safe, Simulated, Seamless Transactions
    </div>
    <div class="circular-text w-25 text-white">
        Safe, Simulated, Seamless Transactions
    </div>
    <div class="row intro-1 container-fluid text-white mb-5">
        <div class="col discover">
            Discover a world of convenient and secure online banking.
        </div>

        <div class="img w-100 col d-none d-md-flex">
            <!-- <img src="" alt="Laptop image"> -->
        </div>
    </div>

    <div class="display-2 float-end font-md-smaller d-none d-md-block mb-5" style="text-align: start; width: 35%;">
        Secure Transaction Flow
    </div>

    <div class="prototype" class="mt-auto mb-5">
        <img src="{% static 'home/images/investment.svg' %}" alt="transaction flow" class="w-100">
    </div>

    <div class="about mt-5 mx-md-0">
        <h2 class="display-4 fw-bold">Developer-Friendly</h2>
        <p class="fs-4">Empower your development journey with our Virtual Bank API. Developers, dive into a seamless
            integration
            experience that lets you simulate real banking transactions for robust testing. Build and refine your
            applications with ease, ensuring they're ready for the complexities of financial interactions.</p>
    </div>


    <div class="fun_about d-flex flex-wrap justify-content-evenly">
        <div>
            <img class="w-100" src="{% static 'home/images/integration.png' %}" alt="Easy Integration">
            <p class="fw-bold fs-3 mt-2 ps-2">Easy Integration</p>
            <p class="fs-6 mt-2 ps-2">Effortlessly integrate our Virtual Bank API into your applications, allowing
                you to simulate a
                wide range of banking transactions.</p>
        </div>

        <div> <img class="w-100" src="{% static 'home/images/testing.png' %}" alt="Realistic Testing">
            <p class="fw-bold fs-3 mt-2 ps-2">Realistic Testing</p>
            <p class="fs-6 mt-2 ps-2">Test your e-commerce website or mobile app's transactional capabilities in a
                safe environment
                before going live with real bank APIs.</p>
        </div>

        <div>
            <img class="w-100" src="{% static 'home/images/transaction.png' %}" alt="Secure Transactions">
            <p class="fw-bold fs-3 mt-2 ps-2">Secure Transactions</p>
            <p class="fs-5 mt-2 ps-2">Rest assured that your simulated transactions are carried out in a secure and
                encrypted
                environment, mimicking real-world banking standards.</p>
        </div>

        <div>
            <img class="w-100" src="{% static 'home/images/use_case.png' %}" alt="Versatile Use Cases">
            <p class="fw-bold fs-3 mt-2 ps-2">Versatile Use Cases</p>
            <p class="fs-6 mt-2 ps-2">From testing payment gateways to validating financial record-keeping, our
                Virtual Bank
                API caters
                to diverse use cases for developers.</p>
        </div>

    </div>
</main>
{% endblock content %}home/