{% load static %}

<header class="site-header px-3 d-flex flex-row justify-content-between align-items-center position-fixed w-100 mt-2">
  <div class="d-flex align-items-center">
    <span><img src="{% static 'users/images/accounts.png' %}" alt="accounts" class="accounts" /></span>
    <span>
      <input type="text" class="bg-transparent border-none account_name fw-lighter" value="{{ request.session.account.name }}" placeholder="+" id="{% if request.session.account.name %}rename-accounts{% else %}add-account{% endif %}">
    </span>
  </div>
  <div class="searchbar border border-success rounded-pill p-2 h-75 w-50 d-flex align-items-center">
    <img src="{% static 'users/images/searchicon.png' %}" alt="search icon" class="search" />
    <input type="text" class="rounded-end-pill w-100 border-none bg-transparent" />
  </div>
  <div class="w-15 d-flex justify-content-between align-items-center">
    <a href="#"><img src="{% static 'users/images/developer.png' %}" alt="developer" class="icon" /></a>
    <a href="#"><img src="{% static 'users/images/help.png' %}" alt="help" class="icon" /></a>
    <a href="#"><img src="{% static 'users/images/notification.png' %}" alt="notification" class="icon" /></a>
    <a href="#" class="shadow-sm bg-body-tertiary border border-success rounded-pill overflow-hidden"><img src="{{ request.user.profile_picture.url }}" alt="profile" class="profile" /></a>
  </div>
</header>
<aside class="border-end d-flex flex-column align-items-center justify-content-between py-4 border-success position-fixed">
  <a href="#"><img src="{% static 'users/images/home.png' %}" alt="home" class="icon" /></a>
  <a href="#"><img src="{% static 'users/images/deposits.png' %}" alt="deposits" class="icon" /></a>
  <a href="#"><img src="{% static 'users/images/transfers.png' %}" alt="transfer" class="icon" /></a>
  <a href="#"><img src="{% static 'users/images/debit_card.png' %}" alt="debit card" class="icon" /></a>
  <a href="#"><img src="{% static 'users/images/transactions.png' %}" alt="transaction" class="icon" /></a>
  <a href="#"><img src="{% static 'users/images/history.png' %}" alt="history" class="icon" /></a>
  <a href="#"><img src="{% static 'users/images/notifications.png' %}" alt="notification" class="icon" /></a>
</aside>
