.bg-top {
    width: 100%;
    height: calc(25vh + 50vw);
    background: url("../images/back-1.png") -10px -10px no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    .bg-top {
        background-size: contain;
    }
}