main {
    width: 92%;
    margin-top: 80px;
}

#welcome-create-account-btn {
    width: 12%;
    aspect-ratio: 7/2;
}


.dashboard {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2px;
    column-rule: #5E3FBE;
    column-width: 3px;
}

.quick-transaction {
    width: 100%;
}

.quick-transaction button {
    aspect-ratio: 7/2;
    border: 2px solid #5E3FBE;
    transition: all 0.1s ease-in-out;
}

.quick-transaction button:focus {
    outline: none;
    filter: blur(0.4px);
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.501);
}

.quick-transaction .transfer {
    background-color: #5E3FBE;
    color: #F4F4FE;
    margin-right: 80px;
}

.quick-transaction .deposit {
    background-color: #F4F0FD;
}

.account-cards {
    width: 370px;
    aspect-ratio: 7/4;
    background: url("../images/cardarrow.png") 85% 80% no-repeat;
}

.account-cards .account-balance {
    font-family: "DM Serif";
    color: #5E3FBE;
}