header {
    height: 50px;
}

header .accounts {
    width: 30px;
}

header .add {
    width: 15px;
}

header .search {
    width: 25px;
}

header .icon {
    width: 18px;
}

header .profile {
    width: 38px;
}

header .account_name

header .account_name {
    font-size: 15px;
}

aside {
    width: 60px;
    height: 80vh;
    margin: 80px 0;
}

aside .icon {
    width: 22px;
}