header {
    height: 50px;
}
header .searchbar input {
    outline: none;
    border: none;
    background-color: transparent;
}
header .accounts {
    width: 30px;
}

header .add {
    width: 15px;
}

header .search {
    width: 25px;
}

header .icon {
    width: 18px;
}

header .profile {
    width: 38px;
}

aside {
    width: 60px;
    height: 80vh;
    margin: 80px 0;
}

aside .icon {
    width: 22px;
}