.w-15 {
    width: 15%;
}

.border-none {
    border: none;
    outline: none;
}

.hover-pointer:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #98e098;
}

::-webkit-scrollbar-thumb {
    background: #110f0f;
    border-radius: 5px;
}